* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montreal;
  color: #212121;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #f1f1f1;
}

.title {
  font-size: 3vw;
  font-family: GRO;
}

::selection{
  color: #000000;
  background-color: #ceea68;
}


::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: Montreal;
  src: url("./assets/fonts/NeueMontreal-Regular.woff");
}

@font-face {
  font-family: GRO;
  src: url("./assets/fonts/FoundersGrotesk-Semibold.woff");
}

@font-face {
  font-family: black-K;
  src: url("./assets/fonts/BlackMatteo.ttf");
}

.navbar {
  width: 100%;
  padding: 1.5vw 3vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 999;
  backdrop-filter: blur(7px);
}

.nav-text-data {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

.nav-links {
  font-size: 1.1vw;
}

.navbar a:hover {
  color: #212121c6;
  transition: all 0.3s ease-in-out;
}

/* Landing Page */
.landing-page {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.landing-title {
  line-height: 0.8;
  font-family: GRO;
  text-transform: uppercase;
  font-size: 9vw;
  width: fit-content;
}

.landing-dets-structure {
  border-top: 1px solid #21212169;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* CTA Button */
.cta-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.cta-text {
  position: relative;
  color: #212121;
  border-color: #212121;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.cta-button:hover .cta-text {
  background-color: #212121;
  color: #f1f1f1;
  border-color: #212121;
}

.cta-icon {
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  color: #212121;
  border-color: #212121;
}

.cta-icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: #212121;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.4s ease-in-out;
}

.cta-button:hover .cta-icon::before {
  width: 200%;
  height: 200%;
  transform: translate(-50%, -50%) scale(1);
}

.marquee-title {
  width: 100%;
  color: #f1f1f1;
  font-size: 27vw;
  font-family: GRO;
  text-transform: uppercase;
  line-height: 0.8;
}

.about-title {
  font-size: 3.7vw;
  line-height: 1;
  padding: 5vw 0;
  width: 90%;
}

.section-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

.column {
  flex-basis: 30%;
}

.what-to-expect {
  flex-basis: 50%;
  font-size: 1.1rem;
}

.content {
  font-size: 1rem;
  line-height: 1.6;
}

.about-p-2 {
  width: 88%;
  font-size: 1.1rem;
}

.about-p-1 {
  font-size: 1.1rem;
  width: 90%;
}

ul {
  list-style-type: square;
  padding: 0;
}

ul li {
  margin: 0.1rem 0;
}

ul li a {
  color: black;
  text-decoration: underline;
}

ul li a:hover {
  color: #555;
}

.cta-bdy {
  width: 12vw;
  padding: 1.2vw 2vw;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #212121;
  color: #f1f1f1;
}

.eyes-wrap {
  display: flex;
  gap: 3vw;
}

.eye-main {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f1f1f1;
  height: 15vw;
  width: 15vw;
  border-radius: 50%;
}

.card-body {
  transition: all 0.5s ease-in-out;
}

.card-body:hover {
  scale: 0.97;
}

.card-image {
  transition: all 0.6s ease-in-out;
  transition-delay: 0.01s;
}

.card-body:hover .card-image {
  scale: 1.07;
}

.animated-btn {
  position: relative;
  display: inline-block;
  overflow: hidden;
  z-index: 1;
  transition: color 0.2s ease;
}

.animated-btn:hover {
  color: #fff;
}

.animated-btn::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #212121;  z-index: -1;
  transition: transform 0.3s ease;
  transform-origin: bottom;
  transform: scaleY(0);
}

.animated-btn:hover::before {
  transform: scaleY(1);
}

.animated-btn:hover::before {
  transform: scaleY(1);
}

.animated-btn span {
  position: relative;
  display: inline-block;
  transition: transform 0.4s ease;
}

.animated-btn:hover span {
  transform: scale(1.1);
}

.project-title{
  font-size: 15vw;
  line-height: .8;
  text-align: center;
  font-family: GRO;
  text-transform: uppercase;
  font-weight: 900;
}

.footer-title{
  font-size: 8vw;
  font-family: GRO;
  line-height: .8;
  text-transform: uppercase;
}

.balls-component{
  background-image: url('./assets/img/vd-bg.jpg');
  background-position: center;
  background-size: cover;
}